.book-title {
  font-size: 1.5rem;
}

.button-group .btn-small {
  margin: 0 3px;
  background: #ef5350;
  /* color: #212121; */
  text-transform: none;
}

.no-image {
  align-items: center;
  border: 1px
  #DFE1E5 solid;
  color:
  #70757A;
  display: flex;
  height: 140px;
  line-height: 16px;
}